<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../redux.html">
<link rel="import" href="./transaction-simulator-view-styles.html">
<link rel="import" type="text/css" href="../../../bower_components/pw-catalog/pw-catalog.html">
<link rel="import" type="text/css" href="../../../bower_components/paper-button/paper-button.html">

<dom-module id="transaction-simulator-view">
    <template>
        <style include="transaction-simulator-view-styles"></style>

        <div class="cardAction">
            <h2>Hoy [[toDay]]</h2>
            <paper-button class="paper-button" on-tap="_nextDate">Siguiente fecha</paper-button>
        </div>

        <div class="cardActionStatic"></div>

        <pw-catalog sub-category-selected="[[categories]]"></pw-catalog>
    </template>
    <script src="./transaction-simulator-view.js"></script>
</dom-module>
