<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/pw-percentage-icome/pw-percentage-income.html">
<link rel="import" href="../../redux.html">
<link rel="import" href="./wallet-tips-view-styles.html">

<dom-module id="wallet-tips-view">
    <template>
        <style include="wallet-tips-view-styles"></style>
        <div class="container">
        	<pw-percentage-income icome="[[incomes]]" sections="[[catalog]]"></pw-percentage-income>
        </div>
    </template>
    <script src="./wallet-tips-view.js"></script>
</dom-module>
