<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/pw-user-card/pw-user-card.html">
<link rel="import" href="../../../bower_components/pw-category-selection/pw-category-selection.html">
<link rel="import" href="../../redux.html">
<link rel="import" href="./preferences-user-view-styles.html">

<dom-module id="preferences-user-view">
    <template>
        <style include="preferences-user-view-styles"></style>
        <div class="container">
            <pw-user-card
                    photosrc="[[user.photoURL]]"
                    username="[[user.displayName]]"
                    email="[[user.email]]">
            </pw-user-card>
            <pw-category-selection
                    catalog="[[catalog]]"
                    on-save-categories="saveCategories">
            </pw-category-selection>
        </div>
    </template>
    <script src="./preferences-user-view.js"></script>
</dom-module>
