<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/pw-user-card/pw-user-card.html">
<link rel="import" href="../../../bower_components/pw-category-selection/pw-category-selection.html">
<link rel="import" href="../../../bower_components/isw-dialog/isw-dialog.html">
<link rel="import" href="../../redux.html">
<link rel="import" href="./preferences-user-view-styles.html">

<dom-module id="preferences-user-view">
    <template>
        <style include="preferences-user-view-styles"></style>
        <div class="container">
            <pw-user-card
                    photosrc="[[user.photoURL]]"
                    username="[[user.displayName]]"
                    email="[[user.email]]">
                <p>
                    <paper-input type="number" id="idIncomes" label="Ingresos Mensuales" value="[[user.incomes]]">
                        <div slot="prefix">$</div>
                    </paper-input>
                </p>
                <p>
                    <paper-button on-click="saveIncomes" raised>Guardar</paper-button>
                    <isw-dialog id="dialog">
                        <div>Categorias Guardadas</div>
                        <paper-button dialog-dismiss>Cancel</paper-button>
                    </isw-dialog>
                </p>
            </pw-user-card>
            <pw-category-selection
                    catalog="[[catalog]]"
                    not-category="Ahorro"
                    on-save-categories="saveCategories">
            </pw-category-selection>
        </div>
    </template>
    <script src="./preferences-user-view.js"></script>
</dom-module>
