<dom-module id="preferences-user-view-styles">
    <template>
        <style>
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;                
                margin: 10px;
            }
            pw-user-card {
                margin: 10px;
            }
            pw-category-selection {
                margin: 10px;
            }
        </style>
    </template>
</dom-module>
